{% extends "base.html" %}
{% block content %}

<h2>Nuevo Catequizado</h2>

<form method="POST">

    <div class="mb-3">
        <label>Nombre:</label>
        <input name="nombre" class="form-control">
    </div>

    <div class="mb-3">
        <label>Apellido:</label>
        <input name="apellido" class="form-control">
    </div>

    <div class="mb-3">
        <label>Grupo ID:</label>
        <input name="grupo_id" class="form-control">
    </div>

    <button class="btn btn-success">Guardar</button>
</form>

{% endblock %}
