{% extends "base.html" %}
{% block title %}Crear registro{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Crear registro</h5>
    </div>
    <div class="card-body">

        <form method="POST">

            <!-- CAMPOS -->
            {% for campo in campos %}
            <label class="fw-bold">{{ campo.label }}</label>
            <input type="text" name="{{ campo.name }}" class="form-control mb-3" required>
            {% endfor %}

            <button class="btn btn-success">Guardar</button>
            <a href="{{ volver }}" class="btn btn-secondary">Cancelar</a>

        </form>
    </div>
</div>
{% endblock %}
