{% extends "base.html" %}
{% block title %}Editar registro{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-warning">
        <h5 class="mb-0">Editar registro</h5>
    </div>
    <div class="card-body">

        <form method="POST">

            {% for campo in campos %}
                <label class="fw-bold">{{ campo.label }}</label>
                <input type="text" name="{{ campo.name }}" class="form-control mb-3"
                    value="{{ campo.value }}" required>
            {% endfor %}

            <button class="btn btn-primary">Actualizar</button>
            <a href="{{ volver }}" class="btn btn-secondary">Cancelar</a>

        </form>
    </div>
</div>
{% endblock %}
