{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="m-0"><i class="fa-solid fa-users"></i> Lista de Catequizados</h3>

    <a href="{{ url_for('main.crear') }}" class="btn btn-primary btn-rounded">
      <i class="fa-solid fa-plus"></i> Nuevo
    </a>
  </div>

  <!-- Buscador -->
  <form method="get" class="mb-3">
    <div class="input-group">
      <input type="text" name="q" value="{{ q }}" class="form-control" placeholder="Buscar por nombre o apellido">
      <button class="btn btn-outline-secondary">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>

  <!-- TABLA -->
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>F. Nac.</th>
          <th>Teléfono</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for c in datos %}
        <tr>
          <td>{{ c.catequizando_id }}</td>
          <td>{{ c.nombre }}</td>
          <td>{{ c.apellido }}</td>
          <td>{{ c.fecha_nacimiento }}</td>
          <td>{{ c.telefono }}</td>

          <td class="text-center">
            <a class="btn btn-warning btn-sm btn-rounded" 
               href="{{ url_for('main.editar', id=c.catequizando_id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>

            <form method="post" 
                  action="{{ url_for('main.eliminar', id=c.catequizando_id) }}" 
                  style="display:inline"
                  onsubmit="return confirm('¿Eliminar este registro?');">
              <button class="btn btn-danger btn-sm btn-rounded">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
